In [3]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("Gandum.csv", header = None)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   1            499 non-null    int64
 1   5781         499 non-null    int64
 2   128.2888753  499 non-null    float64
 3   58.47084588  499 non-null    float64
 4   0.890095088  499 non-null    float64
 5   5954         499 non-null    int64
 6   85.79392641  499 non-null    float64
 7   0.674090485  499 non-null    float64
 8   316.756      499 non-null    float64
 9   0.724040956  499 non-null    float64
 10  2.194065664  499 non-null    float64
 11  1.1          499 non-null    int64
dtypes: float64(8), int64(4)
memory usage: 46.9 KB

In [7]:
df.head()

,1,5781,128.2888753,58.47084588,0.890095088,5954,85.79392641,0.674090485,316.756,0.724040956,2.194065664,1.1
0,2,4176,109.348294,49.837688,0.890098,4277,72.918093,0.596231,260.346,0.774227,2.194088,1
1,3,4555,114.427991,52.151207,0.890105,4706,76.155145,0.776641,279.606,0.732159,2.194158,1
2,4,4141,108.701191,49.457349,0.890499,4236,72.611879,0.633180,260.478,0.766960,2.197877,1
3,5,5273,122.747869,55.757848,0.890876,5431,81.937733,0.669842,302.730,0.723031,2.201446,1
4,6,5371,123.943530,56.235398,0.891145,5531,82.695644,0.734144,297.114,0.764573,2.204013,1

In [9]:
df.describe()

,1,5781,128.2888753,58.47084588,0.890095088,5954,85.79392641,0.674090485,316.756,0.724040956,2.194065664,1.1
count,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000
mean,251.000000,4799.282565,116.020635,53.705716,0.878741,4935.010020,77.755080,0.648320,281.409028,0.761813,2.150829,1.503006
std,144.193157,986.406825,18.292730,4.069573,0.036619,1011.683617,8.056920,0.094455,37.339355,0.061741,0.250010,0.500493
min,2.000000,2522.000000,74.133114,39.906517,0.719916,2579.000000,56.666658,0.409927,197.015000,0.174590,1.440796,1.000000
25%,126.500000,4042.500000,104.063393,51.192400,0.863673,4166.500000,71.743089,0.572602,255.854000,0.732088,1.983917,1.000000
50%,251.000000,4733.000000,115.396744,53.727453,0.889996,4855.000000,77.628878,0.625731,279.955000,0.761403,2.193132,2.000000
75%,375.500000,5492.500000,129.055961,56.309070,0.907613,5650.000000,83.625761,0.726830,305.786500,0.796387,2.382048,2.000000
max,500.000000,7453.000000,227.928583,68.977700,0.914001,7720.000000,97.413830,0.878899,488.837000,0.904748,2.464809,2.000000